# Ignore Everything
*

# Except the following files
!README.md
!miniJava.jj
!makefile
!MainVisitor.java
!Main.java
!ClassDefVisitor.java
!IntermediateCodeVisitor.java
!buildAndTest.sh
!/tests/
!/tests/*
!/tests/*/*
!/javacc5.jar
!/jtb132di.jar